NEXT_PUBLIC_SUPABASE_URL="https://oogxhcefpxiufuxnpata.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_4_r46Td9ci85vE0p-pPY7A_GY62SdMk"
DATABASE_URL="postgresql://postgres.oogxhcefpxiufuxnpata:abulu1184!Aabulu1184!A@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
Direct_DATABASE_URL="postgresql://postgres.oogxhcefpxiufuxnpata:abulu1184!Aabulu1184!A@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"